{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="{% static 'dashboard/script.js' %}" defer></script>

    <title>Superleague</title>
</head>
<body>

  <div class="container">
    <div class="navbar">
      <h2 class="pageTitle">Superleague ⚽️ </h2>
      <div class="navButtons">
        <button class="navButton" style="color: white; font-weight: bold; border-bottom: 5px solid white;
        border-radius: 5px;">Saison</button>
        <button class="navButton">Réglement</button>
        <button class="navButton">Contact</button></div>
    </div>
    <div class="content">

      <div class="logo"><img src="{% static 'dashboard/superlogo.png' %}" alt=""></div>

      <div class="calendar">
        <div class="title"><h1>📅 Calendrier</h1></div>

        <div class="calendarBlock">
          <div class="weekNav">
            <button class="calendarArrow">
              <span class="material-symbols-outlined">chevron_left</span>
          </button>
            <div>
              <h2>Semaine</h2>
              <h2>1</h2>
            </div>
            <button class="calendarArrow">
              <span class="material-symbols-outlined">chevron_right</span>
          </button>
            
          </div>
          {% for game in games %}
          <div class="game">
            <div>
              <span class="material-symbols-outlined">sports_soccer</span>
              <p class="teamOne">{{ game.team_one }}</p>
            </div>
            <div>
              <p>-</p>
            </div>
            <div>
              <p class="teamTwo">{{ game.team_two }}</p>
              <span class="material-symbols-outlined">sports_soccer</span>
            </div>
          </div>
          {% endfor %}
        </div>
        

      </div>

      <div class="teamRank">
        <div class="title"><h1>🏆 Classement</h1></div>
        <div class="table">
          <table>

            <thead>
              <tr>
                <th></th>
                <th>Equipe</th>
                <th>GP</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>GF</th>
                <th>GA</th>
                <th>GD</th>
                <th>REF</th>
                <th>PTS</th>
              </tr>
            </thead>
    
            <tbody>
              {% for team in rankings %}
              <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ team.team }}</td>
                  <td>{{ team.games_played }}</td>
                  <td>{{ team.wins }}</td>
                  <td>{{ team.draws }}</td>
                  <td>{{ team.losses }}</td>
                  <td>{{ team.goals_scored }}</td>
                  <td>{{ team.goals_conceded }}</td>
                  <td>{{ team.goal_difference }}</td>
                  <td>{{ team.refereed_games }}</td>
                  <td>{{ team.points }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div> 
      
    </div>
      <div class="playerRank">
        <div class="title"><h1>⚽️ Buteurs</h1></div>
        <div class="table">

          <table>

            <thead>
              <th></th>
              <th>Joueur</th>
              <th>Equipe</th>
              <th>Buts</th>
              <th>Dernier match</th>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Eden Hazard</td>
                <td>LOSC Lille</td>
                <td>20</td>
                <td>⚽️⚽️⚽️</td>
              </tr>

            </tbody>
          </table>
        </div>
  
      </div>
    </div>
  </div>

  
    
</body>
</html>