{% extends "base.html" %}
{% load static %}


{% block stylesheet %}
<link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'dashboard/script.js' %}" defer></script>
{% endblock %}

{% block title %}
<title>Superleague</title>
{% endblock %}

{% block content %}
<div class="content">

  <div class="logo"><img src="{% static 'dashboard/superlogo.png' %}" alt=""></div>

  <div class="calendar">

    <div class="title"><h1>📅 Calendrier</h1></div>

    <div class="weekNav">
      <button class="calendarArrow">
        <span class="material-symbols-outlined">chevron_left</span>
      </button>
      <div class="currentWeek">
        <h2>Semaine</h2>
        <h2>1</h2>
      </div>
      <button class="calendarArrow">
        <span class="material-symbols-outlined">chevron_right</span>
      </button>
    </div>

    <div class="games">
      {% for game in games %}
      <div class="game">
        <div class="teamOne">
          <span class="material-symbols-outlined">sports_soccer</span>
          <p >{{ game.team_one }}</p>
        </div>
        <div class="gameScore">
          <p>-</p>
        </div>
        <div class="teamTwo">
          <p>{{ game.team_two }}</p>
          <span class="material-symbols-outlined">sports_soccer</span>
        </div>
      </div>
      {% endfor %}
    </div>
      
  </div>

  <div class="teamRank">
    <div class="title"><h1>🏆 Classement</h1></div>
      <table>

        <thead>
          <tr>
            <th></th>
            <th>Equipe</th>
            <th>GP</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GD</th>
            <th>REF</th>
            <th>PTS</th>
          </tr>
        </thead>

        <tbody>
          {% for team in rankings %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ team.team }}</td>
              <td>{{ team.games_played }}</td>
              <td>{{ team.wins }}</td>
              <td>{{ team.draws }}</td>
              <td>{{ team.losses }}</td>
              <td>{{ team.goal_difference }}</td>
              <td>{{ team.refereed_games }}</td>
              <td>{{ team.points }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  
  </div>

  <div class="playerRank">
    <div class="title"><h1>⚽️ Buteurs</h1></div>
    <div class="table">

      <table>

        <thead>
          <th></th>
          <th>Joueur</th>
          <th>Equipe</th>
          <th>Buts</th>
          <th>Forme</th>
        </thead>

        <tbody>
          <tr>
            <td>1</td>
            <td>Tanguy Waterlot</td>
            <td>Boucherie Française</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Eden Hazard</td>
            <td>LOSC Lille</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Eden Hazard</td>
            <td>LOSC Lille</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Eden Hazard</td>
            <td>LOSC Lille</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Eden Hazard</td>
            <td>LOSC Lille</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Eden Hazard</td>
            <td>LOSC Lille</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Eden Hazard</td>
            <td>LOSC Lille</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Eden Hazard</td>
            <td>LOSC Lille</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Eden Hazard</td>
            <td>LOSC Lille</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>
          <tr>
            <td>1</td>
            <td>Eden Hazard</td>
            <td>LOSC Lille</td>
            <td>20</td>
            <td>⚽️⚽️⚽️</td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>
{% endblock %}